# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
next-env.d.ts

# Vercel
.vercel/

# Environment
.env*.local

# Build artifacts
*.tsbuildinfo

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
.vercel
